@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Montserrat, "Open Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 52px;
  color: #ffffff;
  line-height: 1.2;
}
h1 {
  color: #ffffff;
}
h2 {
  margin: 0 0 40px 0;
  font-size: 32px;
}
h2.black {
  color: #2d2d2d;
}
h3 {
  font-size: 16px;
  color: #151515;
}
h4 {
  /* All cases title */
  font-size: 18px;
  color: #2d2d2d;
  text-shadow: none;
}
h5 {
  /* Content box case title */
  font-size: 42px;
}
p.highlighted-cases-description {
  /* Also content box description */
  font-size: 21px;
}
p.all-cases-description {
  font-size: 14px;
  color: #151515;
  font-weight: normal;
  text-shadow: none;
}
span.italic {
  font-style: italic;
}
span.bold {
  font-family: Montserrat, "Open Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
span.strong {
  font-weight: bold;
}
a {
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: lighter;
  font-size: 18px;
}
a:hover {
  cursor: pointer;
  color: #4ecdc4;
}
