.l-parallax-group {
  width: 100%;
  float: left;
  position: relative;
  z-index: 2;
  transform-style: preserve-3d;
}
.l-parallax-group--full-height {
  height: 100vh;
}
.l-parallax-layer {
  min-height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.l-parallax-layer--base {
  background-color: #ffffff;
  position: static;
  width: 100%;
  z-index: 5;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.l-parallax-layer--back {
  z-index: 4;
  transform: translate3d(0, 0, -1px) scale(2);
  -webkit-transform: translateZ(-1px) scale(2);
  -moz-transform: translateZ(-1px) scale(2);
  -ms-transform: translateZ(-1px) scale(2);
  -o-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
}
.l-parallax-layer--deep {
  z-index: 3;
  -webkit-transform: translateZ(-1.9px) scale(3);
  -moz-transform: translateZ(-1.9px) scale(3);
  -ms-transform: translateZ(-1.9px) scale(3);
  -o-transform: translateZ(-1.9px) scale(3);
  transform: translateZ(-1.9px) scale(3);
}
