<script setup>
    
    import portfolioCasesData from './json/portfoliocases.json'

    // export default{
    //     data(){
    //         return{
    //             portfolioCases: portfolioCasesData
    //         }
    //     }
    // }

    function openContentBox(id) {
        console.log(id)
    }

    // export var caseId = openContentBox(portfolioCase.id)

</script>

<template>

    <h2>Mijn werk</h2>

    <div class="c-case" v-for="portfolioCase in portfolioCasesData" :key="portfolioCase.id">
        <article class="c-case__inner" @click="openContentBox(portfolioCase.id)" :style="{'background-image': `url('/img/${portfolioCase.background}')`}">

            <div class="c-case__aspect-ratio">

                <section class="c-case__text c-case__text--left">
                    <div class="c-case__title c-case__title--mask">
                        <h3 class="c-case__heading c-case__heading--animate" >{{ portfolioCase.title }}</h3>
                    </div>
                </section>

            </div>

        </article>
    </div>

</template>

<style lang="less" scoped>
    
    .c-case {
        width: 100%;
        padding: 250px 0;

        &:first-of-type {
            padding: 100px 0 250px 0;
        }

        &__inner {
            background-repeat: no-repeat;
            position: relative;
            -webkit-background-size: 100%;
            background-size: 100%;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;

            opacity: 0.8;
            -webkit-filter: grayscale(100%) contrast(130%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%) contrast(130%);

            &:hover {   
                cursor: pointer;

                opacity: 1;
                -webkit-filter: grayscale(0) contrast(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(0) contrast(100%);
            }
        }

        &__aspect-ratio {
            width: 100%;
            display: table;
            padding-top: 56%
            /* 16:9 aspect-ratio */
        }

        &__text {
            height: auto;
            width: 100%;
            position: absolute;

            &--left {
                top: -46px;
                left: 0;
            }
        }

        &__heading {
            color: black;
        }
    }

</style>