<script setup>

    import { ref } from 'vue'

    const caseId = ref(null);

    function openContentBox() {
        // `childComponentRef.value` accesses the component instance
        console.log()
        caseId.value.doSomething(2.0);
    }

</script>

<template>

    <section class="c-content-box c-content-box--show">

        <div class="c-content-box__header">
            <div class="c-content-box__heading c-content-box__heading-mask">
                <h5 class="animate-below"></h5>
            </div>
        
            <div class="c-content-box__back">
                <span class="c-content-box__back-line c-content-box__back-line--1"></span>
                <span class="c-content-box__back-line c-content-box__back-line--2"></span>
            </div>
        </div>

        <section class="c-content-box__inner c-content-box__inner--hidden animate-below-50">
            
            <div class="c-content-box__intro-text">
                <div class="c-content-box__text--hidden animate-below-50">
                    <p><span class="italic"></span></p>
                </div>
                <div class="c-content-box__external-link"></div>
            </div>

            <figure class="c-content-box__arrow-down text hidden animate-below-50">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 595.3 297.6" style="enable-background:new 0 0 595.3 297.6;" xml:space="preserve">
                        <polygon class="st0" points="297.6,297.6 0,0 5.8,0 297.6,291.9 589.5,0 595.3,0 "/>
                    </svg>
            </figure>

            <div class="c-content-box__intro-background"></div>

            <div class="c-content-box__chapter">
                <div class="left">
                    <div class="text"></div>
                </div>
                <div class="right">
                    <div class="inner"></div>
                </div>
            </div>

        </section>

    </section>
</template>

<style lang="less" scoped>
.c-content-box {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
    z-index: 0;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);

    -webkit-transition: z-index 0.5s step-end, 0.5s;
    -moz-transition: z-index 0.5s step-end, 0.5s;
    -ms-transition: z-index 0.5s step-end, 0.5s;
    -o-transition: z-index 0.5s step-end, 0.5s;
    transition: z-index 0.5s step-end, 0.5s;

    &* {
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    &--show {
        z-index: 98;
        -webkit-transition: z-index 0.5s step-start, 0.5s;
        -moz-transition: z-index 0.5s step-start, 0.5s;
        -ms-transition: z-index 0.5s step-start, 0.5s;
        -o-transition: z-index 0.5s step-start, 0.5s;
        transition: z-index 0.5s step-start, 0.5s;
    }

    &--hidden {
        //
    }

    &__header {
        position: relative;
        margin: 40px auto 0 auto;
        width: 90%; /*calc fallback*/
        width: calc(100% - 80px);
        max-width: 1920px;
        flex-shrink: 0;
    }

    &__heading {
        margin: 0 0 20px 60px;
    }

    &__back {
        position: absolute;
        width: 35px;
        top: 14px;
        right: 60px;

        &:hover {
            cursor: pointer;
        }
    }

    &__description { 
        margin: 0 auto;
    }

    &__back-line {
        display: block;
        width: 100%;
        height: 2px;
        background: #4ecdc4;

        &:first-child {
            margin: 0 0 21px 0;
        }

        &--1 {
            transform: rotate(135deg) translateY(-8px) translateX(8px);
        }

        &--2 {
            transform: rotate(-135deg) translateY(8px) translateX(8px);
        }
    }

    &__inner {
        height: 100%;
        margin: 40px auto;
        width: 90%; /*calc fallback*/
        width: calc(100% - 80px);
        background: #ffffff;
        max-width: 1920px;
        /*overflow-y: scroll;*/
        overflow: hidden;
        -ms-flex-negative: 1;
    }

    &__intro-text {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 500px;
        margin: 0 0 0 20%;
        color: #fff;
        font-size: 18px;

        & a {
            font-size: 18px;
            color: #4ecdc4;
        }
    }

    &__external-link {
        display: inline-block;
        padding: 10px 20px;
        margin: 20px 0 0 0;
        background: #4ecdc4;
        color: #fff;

        & a {

        }
    }

    &__intro-background {
        flex: 1;
        width: 100%;
        float: left;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.7;
        -webkit-filter: grayscale(100%) contrast(130%) blur(6px);
        -moz-filter: grayscale(100%) contrast(130%) blur(6px);
        -o-filter: grayscale(100%) contrast(130%) blur(6px);
        -ms-filter: blur(6px);
        filter: grayscale(100%) contrast(130%) blur(6px);
    }

    &__arrow-down {
        width: 100%;
        position: absolute;
        bottom: 80px;
        display: flex;
        height: 50px;

        & svg {
            width: 70px;
            margin: 0 auto;
            display: block;
            fill: #f1f1f1;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
            animation: arrow-down-bounce 2s infinite ease-in-out;
        }
    }

    &__chapter {
        background: #ffffff;
    }

}
</style>