<template>

        <div class="l-parallax-layer l-parallax-layer--back">

            <header class="c-header">

            <article class="c-intro">
                <div class="c-intro__title">
                    <figure class="c-intro__logo">
                        <img src="/img/marijn_kleuskens_logo_white-bgr.svg" alt="Logo Marijn Kleuskens" />
                    </figure>
                    <h1>Marijn Kleuskens</h1>
                </div>
                <div class="c-intro__subtitle">
                    <h2 class="white">Experience designer</h2>
                </div>
            </article>

            </header>

        </div>

        <div class="l-parallax-layer l-parallax-layer--deep">
            <figure class="c-header__background"></figure>
        </div>
    
</template>

<style lang="less" scoped>

.c-header {
    width: 100%;
    height: 100vh;
    float: left;
    text-align: center;

    &__background {
        width: 100%;
        height: 100vh;
        background: url("/img/background_557_2.jpg") #151515;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-filter: blur(6px);
        -moz-filter: blur(6px);
        -o-filter: blur(6px);
        -ms-filter: blur(6px);
        filter: blur(6px);
    }
    
}

.c-intro {
    width: 100%;
    float: left;

    &__title {
        display:inline-block;
        *display:inline;/* IE*/
        *zoom:1;/* IE*/
        margin: 46vh auto 0 auto;
    }

    &__subtitle {
        width: 100%;
        float: left;
        margin: 50px 0 0 0;
    }

    &__logo {
        float: left;
        width: 75px;
        margin: -10px 0 0 0;
    }
}

</style>