@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Montserrat');

//variables

@black: #2d2d2d;
@grey: #151515;
@white: #ffffff;
@blue: #4ecdc4;
@hover: #0fcda4;

@mainfont: Montserrat, "Open Sans", Arial, sans-serif;

h1, /* Marijn Kleuskens */
h2, /* Page titles */
h3, /* Highlighted cases title */
h4, /* All cases case title */
h5 /* Content box case title */
{
    font-family: @mainfont;
    font-weight: bold;
    font-size: 52px;
    color: @white;
    line-height: 1.2;
}

h1{
    color: @white;
}

h2{
    margin: 0 0 40px 0;
    font-size: 32px;
    
}

h2.black{
    color: @black;
}

h3{
    font-size: 16px;
    color: @grey;
}

h4{ /* All cases title */
    font-size: 18px;
    color: @black;
    text-shadow: none;
}

h5{ /* Content box case title */
    font-size: 42px;
}

p.highlighted-cases-description{ /* Also content box description */
    font-size: 21px;
}

p.all-cases-description{
    font-size: 14px;
    color: @grey;
    font-weight: normal;
    text-shadow: none;
}

span {

    &.italic {
        font-style: italic;
    }

    &.bold {
        font-family: Montserrat, "Open Sans", Arial, sans-serif;
        font-size: 18px;
        font-weight: bold;
    }
    
    &.strong {
        font-weight: bold;
    }
}

a{
    color: @white;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: lighter;
    font-size: 18px;

    &:hover{
        cursor: pointer;
        color: @blue;
    }
}