<script setup>
import top from './components/top.vue'
import cases from './components/cases.vue'
import casescontentbox from './components/casescontentbox.vue'
</script>

<template>
  <div class="l-sitewrapper">

    
    <div class="l-parallax-group l-parallax-group--full-height">

      <top></top>

    </div>
    
    <div class="l-parallax-group">
      <div class="l-parallax-layer l-parallax-layer--base">

        <main role="main">
      
          <div class="l-contain">
            <cases></cases>
          </div>

        </main>

      </div>
    </div>

  </div>

  <!-- <casescontentbox></casescontentbox> -->

</template>

<style lang="less" scoped>

.l-sitewrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  transform-style: preserve-3d;
  scroll-behavior: smooth;
}

main {
  float: left;
  width: 100%;
  overflow: auto;
  position: relative;
  z-index: 4;
}

.l-contain {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

</style>
